h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

body {
    margin: 0;
    background-color: aliceblue;
}

#BtConnexion {
    background-color: rgba(255, 255, 255, 0.767);
    border-style: none;
    padding: 5px;
}

#Titrepage {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 5vh;
}

#DerniersArticles {
    margin-top: 3%;
    /*background-color: red;*/
}

#VoirArticles {
    margin-top: 5%;
   
    padding-bottom:5% ;
    text-align: center;
    color: #54afff;
    font-weight: bolder;
}


/*------------ affichage Article ----------------*/

#Main {
    height: 60vh;
    padding: 2% 5%;
    margin-bottom: 20%;
}

article {
    height: 15vh;
    overflow-y: hidden;
    margin-bottom: 2%;
    background-color: white;
    padding: 2% 5% 5% 5%
}


#Titre {
    margin-bottom: 0;
    font-size: larger;
    font-weight: bolder;

}

#Article {
    height: 70%;
    overflow-y: hidden;
    word-wrap: break-word;
    -webkit-mask-image: linear-gradient(180deg, #000 0%, transparent);
    mask-image: none;
}

#Naviguation {
    background-color: rgb(39, 51, 51);
    color: #54afff;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;

}

#ArticleInfo {

    bottom: 0px;
    color: rgb(105, 145, 165);
}

#Category {
    font-weight: bolder;
    color: #54afff;
    margin-bottom: 1%;
    padding-left: 1%;
}

/*-------------------------------------------*/



#Naviguation a {
    background-color: rgb(39, 51, 51);
    color: #54afff;
    display: flex;
    padding-top:0;
    padding-bottom:0;
    justify-content: space-between;
    font-weight: bolder;
    font-size: xx-large;
    
}

li.active a{
    color: orange !important; 
}

#NbArticles{
    font-weight: bolder;
    padding-top:2.5%;
    padding-left:2.5%;
}
.disabled{
    pointer-events:none;
    opacity:0.4;
}